:host {
	height: 100vh;
	display: flex;
	flex-direction: column;
}


.navbar {
	display: flex;
	justify-content: center;

	.nav-item {
		padding: 1rem;
	}
}

.outlet {
	flex-grow: 1;
	padding: 1rem;
}
