:host {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
}


app-global-chat {
	width: 400px;
	min-width: 400px;
}

app-game {
	flex-grow: 1;
	border-left: 1px solid #111;
}
