<h2>Globaler Chat</h2>

<div class="chat">
	<div class="message">
		<div class="sender">Mario Lang</div>
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message own">
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message">
		<div class="sender">Mario Lang</div>
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message">
		<div class="sender">Mario Lang</div>
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message own">
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message own">
		<div class="content"> provident.</div>
	</div>
	<div class="message">
		<div class="sender">Mario Lang</div>
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
	<div class="message">
		<div class="sender">Mario Lang</div>
		<div class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptas veniam voluptates distinctio in et illo ea assumenda molestiae provident.</div>
	</div>
</div>

<textarea type="text" id="message-input" placeholder="Nachricht"></textarea>
