@import "src/variables.scss";

:host {
	background-color: #222;
	color: #fff;

	display: flex;
	flex-direction: column;
}

app-game-chat {
	flex-grow: 1;
	border: 1px solid blue;
	margin: 0.2rem;
}

app-info-bar {
	height: $infobar-height;
	border: 1px solid green;
	margin: 0.2rem;
}
