@import "src/variables.scss";

:host{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: darken($primary, 15%);
}

input, button {
	border: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	padding: 0.75rem;
	border-radius: 4px;
}


button {
	background-color: $primary;
	color: #fff;
}

button:active {
	background-color: darken($primary, 8%);
}



form{
	width: 350px;
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 3rem;
	border-radius: 10px;
	box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2);

	img{
		width: 12rem;
		margin: 0rem auto 1rem auto;
		padding-bottom: 1rem;
	}

	h1{
		text-align: center;
		margin-bottom: 2rem;
	}

	input {
		margin-bottom: 0.5rem;
	}

}
