@import "src/variables.scss";

:host {
	display: flex;
	flex-direction: row;
}

app-interaction {
	flex-grow: 1;
	border: 1px solid lightblue;
	margin: 0.2rem;
}

app-map {
	width: $infobar-width;
	border: 1px solid red;
	margin: 0.2rem;
}
