:host:hover {
	background-color: rgba(0, 0, 0, 0.05);
	cursor: pointer;

	.overlay {
		visibility: visible;
	}
}

.overlay {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 300%;
	visibility: hidden;
	color: #999;
}
